body {
    margin: 0px;
    padding: 0px;
    background-color: #2c517c;
}

a {
    text-decoration: none;
    color: black;
}

#header_container {
    width: 100%;
    height: 650px;

    border-bottom: 5px solid #2a3b54;
}

#header_top {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #2a3b54;
}

#header_logo_container {
    width: 250px;
    height: 100px;
    float: left;
    margin-left: 175px;
}

#header_logo {
    width: 150px;
    height: 50px;
}

#header_logo_text {
    margin-left: -45px;
    margin-top: -5px;
    width: 250px;
    text-align: center;
    font-family: 'Gudea', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #A04C53;

    /*margin-left: -45px;
    margin-top: 5px;
    padding-bottom: 5px;
    width: 250px;
    text-align: center;
    font-family: 'Gudea', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #A04C53;
    background-color: rgba(134, 134, 134, 0.3);
    border-radius: 15px;*/
}

#header_contact {
    height: 100px;
    float: right;
    margin-right: 175px;
}

#header_call {
    width: 100px;
    height: 100px;
    float: left;
}

#header_us {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    font-family: 'Gudea', sans-serif;
    font-size: 30px;
    color: #fff;
}

#header_parallax {
    background:url(../images/aus.png) 50% 0 no-repeat fixed;
    height: 550px;
    margin: 0 auto;
    padding: 0;
}

#main_container {
    width: 100%;
    height: 900px;
    background: #2c517c;
}

#main_container_top {
    width: 100%;
    height: 500px;
    float: left;
}

#main_container_bot {
    width: 100%;
    height: 300px;
    margin-top: 75px;
    float: left;
}

#main_container_bot_container {
    width: 1200px;
    height: 300px;
    margin: auto;
}

#bot_container_item_left {
    width: 400px;
    float: left;
    border-radius: 15px;
    background-color: gainsboro;
}

#bot_container_item_right {
    width: 400px;
    float: right;
    border-radius: 15px;
    background-color: gainsboro;
}

.text_item {
    text-align: center;
    padding: 50px;
    font-family: 'Gudea', sans-serif;
    color: #323232;
    text-align: justify;
}

#main_container_right {
    width: 100px;
    height: 500px;
    float: left;
}

#main_links {
    width: 200px;
    height: 200px;
    margin-left: 25px;
    margin-top: 25px;
}

.main_container_right_item {
    width: 180px;
    height: 40px;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    padding-top: 20px;
    color: #ffffff;
    background: #A04C53;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(160, 76, 83, 0.4);
    -moz-box-shadow:    0px 0px 15px 0px rgba(160, 76, 83, 0.4);
    box-shadow:         0px 0px 15px 0px rgba(160, 76, 83, 0.4);
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    font-family: 'Gudea', sans-serif;
}

.main_container_right_item:hover {
    background: rgb(160, 76, 83);
    background: -moz-linear-gradient(60deg, rgb(160, 76, 83) 50%, rgb(190, 82, 83) 100%);
    background: -webkit-linear-gradient(60deg, rgb(160, 76, 83) 50%, rgb(190, 82, 83) 100%);
    background: -o-linear-gradient(60deg, rgb(160, 76, 83) 50%, rgb(190, 82, 83) 100%);
    background: -ms-linear-gradient(60deg, rgb(160, 76, 83) 50%, rgb(190, 82, 83) 100%);
    background: linear-gradient(150deg, rgb(160, 76, 83) 50%, rgb(190, 82, 83) 100%);
}

#main_container_left {
    width: 1000px;
    height: 500px;
    float: right;
    margin-right: 25px;
    margin-top: 10px;
}

.slide_item {
    margin-left: -40px;
    margin-top: -15px;
}

#footer {
    width: 100%;
    height: 225px;
    background-color: #1f1f1f;
}

#footer_container {
    width: 850px;
    height: 125px;
    margin: auto;
    padding-top: 50px;
    font-family: 'Gudea', sans-serif;
    font-size: 30px;
    color: #fff;
}

#footer_social {
    width: 50px;
    height: 150px;
    float: left;
    border-right: 1px solid #fff;
}

#footer_info {
    width: 700px;
    height: 100px;
    float: left;
    margin-left: 49px;
    margin-top: 20px;
}

.button_social {
    width: 32px;
    height: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}