<?php
$this->load->view('snippets/header', $title);
?>

<div id="main_container">
    <div id="main_container_top">
        <div id="main_container_right">
            <div id="main_links">
                <a class="main_container_right_item" href="<?php echo base_url(); ?>home">Home</a>
                <a class="main_container_right_item" href="<?php echo base_url(); ?>holiday">Holiday Houses</a>
                <a class="main_container_right_item" href="<?php echo base_url(); ?>rental">Rental Houses</a>
            </div>
        </div>
        <div id="main_container_left">
            <ul class="bxslider">
                <li><img class="slide_item" src="<?php echo base_url();?>images/IMG_0278.jpg" width="100%" height="100%"/></li>
                <li><img class="slide_item" src="<?php echo base_url();?>images/IMG_0299.jpg" width="100%" height="100%"/></li>
                <li><img class="slide_item" src="<?php echo base_url();?>images/IMG_0301.jpg" width="100%" height="100%"/></li>
                <li><img class="slide_item" src="<?php echo base_url();?>images/IMG_0303.jpg" width="100%" height="100%"/></li>
                <li><img class="slide_item" src="<?php echo base_url();?>images/IMG_0304.jpg" width="100%" height="100%"/></li>
                <li><img class="slide_item" src="<?php echo base_url();?>images/IMG_0306.jpg" width="100%" height="100%"/></li>
            </ul>
        </div>
    </div>
    <div id="main_container_bot">
        <div id="main_container_bot_container">
            <div class="text_item" id="bot_container_item_left">
                Roberto's Peninsula  Cleaning Service offers professional holiday houses  cleaning services for the Peninsula of Mornington .Roberto's Peninsula  Cleaning Service will turn any holiday house into a fab one. Our  house cleaning experts will clean your holiday house  with the utmost competence and efficiency, and entirely at your convenience. We have the experience and equipment to handle any  house cleaning need you desire, and to do so with unsurpassed quality.
            </div>
            <div class="text_item" id="bot_container_item_right">
                It is all too easy for the balance between work and life to fall into disarray. There is often so much to do at work that life can take a backseat, and one of the first things to lapse into disrepair can be your living space. Rather than allowing this to happen, ¿why not let us maintain or restore the cleanliness of your apartment with our home cleaning services? 
            </div>
        </div>
    </div>
</div>

<?php
$this->load->view('snippets/footer');
?>