<?php
$this->load->view('snippets/header', $title);
?>

<div id="main_container">
    <div id="main_container_top">
        <div id="main_container_right">
            <div id="main_links">
                <a class="main_container_right_item" href="<?php echo base_url(); ?>home">Home</a>
                <a class="main_container_right_item" href="<?php echo base_url(); ?>holiday">Holiday Houses</a>
                <a class="main_container_right_item" href="<?php echo base_url(); ?>rental">Rental Houses</a>
            </div>
        </div>
        <div id="main_container_left">
            <ul class="bxslider">
                <li><img class="slide_item" src="<?php echo base_url();?>images/1.png" width="100%" height="100%"/></li>
                <li><img class="slide_item" src="<?php echo base_url();?>images/2.png" width="100%" height="100%"/></li>
                <li><img class="slide_item" src="<?php echo base_url();?>images/3.png" width="100%" height="100%"/></li>
            </ul>
        </div>
    </div>
    <div id="main_container_bot">
        <div id="main_container_bot_container">
            <div class="text_item" id="bot_container_item_left">
                Roberto's Peninsula Cleaning Service  offers professional  cleaning services to holiday and rental houses  in the Peninsula of  Mornington(portsea.sorrento . Blairgowrie. Rye. tootgarock.mc crae. Dromana  Flinders.Shorehan. Red hill. Somers and mount martha.).  Our goal is to make your facility a pristine environment for your  peacefulness. 
            </div>
            <div class="text_item" id="bot_container_item_right">
                Restore a healthy balance. Roberto's Peninsula cleaning services keep your home clean while protecting both your family's health and the environment.
            </div>
        </div>
    </div>
</div>

<?php
$this->load->view('snippets/footer');
?>