<?php
$this->load->view('snippets/header', $title);
?>

<div id="main_container">
    <div id="main_container_top">
        <div id="main_container_right">
            <div id="main_links">
                <a class="main_container_right_item" href="<?php echo base_url(); ?>home">Home</a>
                <a class="main_container_right_item" href="<?php echo base_url(); ?>holiday">Holiday Houses</a>
                <a class="main_container_right_item" href="<?php echo base_url(); ?>rental">Rental Houses</a>
            </div>
        </div>
        <div id="main_container_left">
            <ul class="bxslider">
                <li><img class="slide_item" src="<?php echo base_url();?>images/20141130_113301.jpg" width="100%" height="100%"/></li>
                <li><img class="slide_item" src="<?php echo base_url();?>images/20141130_113317.jpg" width="100%" height="100%"/></li>
            </ul>
        </div>
    </div>
    <div id="main_container_bot">
        <div id="main_container_bot_container">
            <div class="text_item" id="bot_container_item_left">
                Our end of Roberto's Peninsula Cleaning Service  / rental cleaning service is carried out with the up most dedication, providing a thorough deep clean for tenants, landlords and letting agencies when at the end of a tenancy. We will ensure that every square inch of the property will be left clean and polished, sanitized and germ free.
            </div>
            <div class="text_item" id="bot_container_item_right">
                Cleaning up after residents move out can be a real hassle for landlords & apartment managers. Roberto's Peninsula Cleaning Service is equipped with everything we need to clean your rental property and make it attractive to quality prospective tenants.
            </div>
        </div>
    </div>
</div>

<?php
$this->load->view('snippets/footer');
?>